<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/new_file_cs.css">
		<script type="text/javascript" src="js/flask.js"></script>
	</head>
	<body>
		<div style="background-color: #F5F5F5;">
			<div id="disd" style="height: 40px; width: auto;background-color: #F0F0d0; margin-bottom: 40px;margin-top: 20px;">
			<p class="theme">欢迎来到资源监控平台</p>
			
		</div>
			<div id="dise" style="margin-left: 40px;background-color: bisque;">
			<table border="0px" cellspacing="0" cellpadding="1px" background="white">
			<tr>
				<td>
		<div id="disc" style="height: 400px;width: 80px;background-color: black;">
			<form>
				<table>
					<tr>
						<div id="disb" style="height: 80px; width: 80px;background-color: wheat;">
							
						</div>
					</tr>
					<tr>
						<td>
							<a href="#" onclick="opens(1)">系统性能</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" onclick="opens(2)">系统进程</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" onclick="opens(3)">fabric</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
				</td>
				<td>
					<div id="disa" style="height: 400px;width: 400px;background-color: dodgerblue;">
						<div id="dis1"><a>你好</a></div>
						<div id="dis2" style="display:none"><a href="img/spider.png"></a>
						</div>
						<div id="dis3" style="display:none">
							<img src="img/视频.png" >
						</div>
					</div>
				</td>
			</tr>
		</table>
		</div>
		</div>
	</body>
</html>